root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.java]
indent_style = space
indent_size = 2

[*.gradle.kts]
indent_style = space
indent_size = 4

[*.proto]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{js,ts,mjs,cjs,jsx,tsx,astro,css,html}]
indent_style = space
indent_size = 4

[*.{json,jsonc}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[Dockerfile]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
