# Gradle files
.gradle/
.kotlin/
build/
bin/
*.log

# macOS
.DS_Store
._*
*-alias

# JRE build files
diet-jre/

# Shadowjar build files
shadowjar

# Include the wrapper jar
!gradle-wrapper.jar

# Development server directory
# A server for testing is setup in here
flaggi-server-temp
