# Gradle files
.gradle/
.kotlin/
build/
bin/
*.log

# macOS
.DS_Store
._*
*-alias

# JRE build files
diet-jre/

# Shadowjar build files
shadowjar

# Exported .exe and .dmg files for distrubition
distribution

# Include the wrapper jar
!gradle-wrapper.jar

# Development server directory
# A server for testing is setup in here
server-temp

# Node
node_modules

# Claude
.claude
