# Gradle files
.gradle/
build/
*bin

# macOS
.DS_Store
._*
*-alias

# JRE build files
diet-jre/

# Shadowjar build files
app/shadowjar

# Include the wrapper jar
!gradle-wrapper.jar

# Development server directory
flaggi-server-temp
