---
import DownloadScript from "../components/landing/DownloadScript.astro"
import FloatingSprites from "../components/landing/FloatingSprites.astro"
import HeroSection from "../components/landing/HeroSection.astro"
import NavBar from "../components/landing/NavBar.astro"
import "../styles/landing.css"
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flaggi - Multiplayer Capture the Flag</title>
        <link rel="icon" type="image/png" href="/flaggi/favicon.png" />
    </head>
    <body>
        <FloatingSprites />
        <NavBar />
        <HeroSection />
        <DownloadScript />
    </body>
</html>
